{
    "swagger": "2.0",
    "info": {
        "description": "SmartComex integrations API",
        "title": "SmartComex API",
        "termsOfService": "https://smartcomex.io/pt-br/termos-de-uso/",
        "contact": {
            "name": "Support",
            "email": "support@smartcomex.io"
        },
        "version": "0.0.1"
    },
    "host": "connect.smartcomex.io",
    "basePath": "/v1",
    "paths": {
        "/async_requests/{idRequest}": {
            "get": {
                "security": [
                    {
                        "OAuth2Application": [
                            "async_request:read"
                        ]
                    }
                ],
                "description": "Get a async request information by idRequest",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Async Requests"
                ],
                "summary": "Retrieve creation/update async request information",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Request unique identifier",
                        "name": "idRequest",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AsyncRequest"
                        }
                    }
                }
            }
        },
        "/contacts": {
            "get": {
                "security": [
                    {
                        "OAuth2Application": [
                            "contact:read"
                        ]
                    }
                ],
                "description": "Get a list of contacts",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Contacts"
                ],
                "summary": "Contacts list",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Office code",
                        "name": "office_code",
                        "in": "path",
                        "required": true
                    },
                    {
                        "maximum": 50,
                        "minimum": 1,
                        "type": "integer",
                        "default": 10,
                        "example": 10,
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "minimum": 0,
                        "type": "integer",
                        "default": 0,
                        "example": 0,
                        "name": "offset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Contact"
                            }
                        }
                    }
                }
            }
        },
        "/mappings": {
            "get": {
                "security": [
                    {
                        "OAuth2Application": [
                            "read"
                        ]
                    }
                ],
                "description": "Get a list of mappings",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Mappings"
                ],
                "summary": "Mappings list",
                "parameters": [
                    {
                        "maximum": 50,
                        "minimum": 1,
                        "type": "integer",
                        "default": 10,
                        "example": 10,
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "minimum": 0,
                        "type": "integer",
                        "default": 0,
                        "example": 0,
                        "name": "offset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Mapping"
                            }
                        }
                    }
                }
            }
        },
        "/offices": {
            "get": {
                "security": [
                    {
                        "OAuth2Application": [
                            "office:read"
                        ]
                    }
                ],
                "description": "Get a list of offices",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Offices"
                ],
                "summary": "Offices list",
                "parameters": [
                    {
                        "maximum": 50,
                        "minimum": 1,
                        "type": "integer",
                        "default": 10,
                        "example": 10,
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "minimum": 0,
                        "type": "integer",
                        "default": 0,
                        "example": 0,
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Tax ID (ex.: CNPJ).",
                        "name": "tax_id",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Office"
                            }
                        }
                    }
                }
            }
        },
        "/offices/{office_code}": {
            "get": {
                "security": [
                    {
                        "OAuth2Application": [
                            "office:read"
                        ]
                    }
                ],
                "description": "Get a office by office code",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Offices"
                ],
                "summary": "Retrieve a office",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Office code.",
                        "name": "office_code",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Office"
                        }
                    }
                }
            }
        },
        "/process/{process_code}/charges": {
            "get": {
                "security": [
                    {
                        "OAuth2Application": [
                            "process:read"
                        ]
                    }
                ],
                "description": "Get a list of process charges",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Process Charges"
                ],
                "summary": "Process charges list",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Process code",
                        "name": "process_code",
                        "in": "path",
                        "required": true
                    },
                    {
                        "maximum": 50,
                        "minimum": 1,
                        "type": "integer",
                        "default": 10,
                        "example": 10,
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "minimum": 0,
                        "type": "integer",
                        "default": 0,
                        "example": 0,
                        "name": "offset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ProcessCharge"
                            }
                        }
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "OAuth2Application": [
                            "process:write"
                        ]
                    }
                ],
                "description": "Update process charges in a process",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Process Charges"
                ],
                "summary": "[Async] Update process charges",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Process code",
                        "name": "process_code",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Process charge update request",
                        "name": "request_body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ProcessChargeRequestPutInput"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AsyncRequest"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "OAuth2Application": [
                            "process:write"
                        ]
                    }
                ],
                "description": "Add process charges in a process",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Process Charges"
                ],
                "summary": "[Async] Add process charges",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Process code",
                        "name": "process_code",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Process charge creation request",
                        "name": "request_body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ProcessChargeRequestPostInput"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AsyncRequest"
                        }
                    }
                }
            }
        },
        "/process/{process_code}/charges/{process_charge_id}": {
            "get": {
                "security": [
                    {
                        "OAuth2Application": [
                            "process:read"
                        ]
                    }
                ],
                "description": "Get a process charge by id",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Process Charges"
                ],
                "summary": "Process charge by id",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Process code",
                        "name": "process_code",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Process charge id",
                        "name": "process_charge_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ProcessCharge"
                        }
                    }
                }
            }
        },
        "/process/{process_code}/volumes": {
            "get": {
                "security": [
                    {
                        "OAuth2Application": [
                            "process:read"
                        ]
                    }
                ],
                "description": "Get a list of process volumes",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Process Volumes"
                ],
                "summary": "Process volumes list",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Process code",
                        "name": "process_code",
                        "in": "path",
                        "required": true
                    },
                    {
                        "maximum": 50,
                        "minimum": 1,
                        "type": "integer",
                        "default": 10,
                        "example": 10,
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "minimum": 0,
                        "type": "integer",
                        "default": 0,
                        "example": 0,
                        "name": "offset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ProcessVolume"
                            }
                        }
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "OAuth2Application": [
                            "process:write"
                        ]
                    }
                ],
                "description": "Update process volumes in a process",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Process Volumes"
                ],
                "summary": "[Async] Update process volumes",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Process code",
                        "name": "process_code",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Process volume update request",
                        "name": "request_body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ProcessVolumeRequestPutInput"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AsyncRequest"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "OAuth2Application": [
                            "process:write"
                        ]
                    }
                ],
                "description": "Add process volumes in a process",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Process Volumes"
                ],
                "summary": "[Async] Add process volumes",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Process code",
                        "name": "process_code",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Process volume creation request",
                        "name": "request_body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ProcessVolumeRequestPostInput"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AsyncRequest"
                        }
                    }
                }
            }
        },
        "/process/{process_code}/volumes/{process_volume_id}": {
            "get": {
                "security": [
                    {
                        "OAuth2Application": [
                            "process:read"
                        ]
                    }
                ],
                "description": "Get a process volume by id",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Process Volumes"
                ],
                "summary": "Process volume by id",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Process code",
                        "name": "process_code",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Process volume id",
                        "name": "process_volume_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ProcessVolume"
                        }
                    }
                }
            }
        },
        "/processes": {
            "get": {
                "security": [
                    {
                        "OAuth2Application": [
                            "process:read"
                        ]
                    }
                ],
                "description": "Get a process by process code",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Processes"
                ],
                "summary": "Processes list",
                "parameters": [
                    {
                        "enum": [
                            "NONE",
                            "ONE",
                            "HOUSE",
                            "MANY",
                            "PARTLOT"
                        ],
                        "type": "string",
                        "x-enum-varnames": [
                            "ConsolidationTypeNone",
                            "ConsolidationTypeOne",
                            "ConsolidationTypeHouse",
                            "ConsolidationTypeMany",
                            "ConsolidationTypePartlot"
                        ],
                        "description": "Consolidation type.",
                        "name": "consolidation_type",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Currency.",
                        "name": "currency",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Freight type.",
                        "name": "freight_type",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "DEFERRED",
                            "NOTREQUIRED",
                            "REFUSED",
                            "AWAITING_CONFIRMATION"
                        ],
                        "type": "string",
                        "x-enum-varnames": [
                            "ImportLicenseTypeDeferred",
                            "ImportLicenseTypeNotRequired",
                            "ImportLicenseTypeRefused",
                            "ImportLicenseTypeAwaitingConfirmation"
                        ],
                        "description": "Import license type.",
                        "name": "import_license_type",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Incoterm.",
                        "name": "incoterm",
                        "in": "query"
                    },
                    {
                        "maximum": 50,
                        "minimum": 1,
                        "type": "integer",
                        "default": 10,
                        "example": 10,
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "AIR",
                            "SEA",
                            "GROUND",
                            "COURIER",
                            "SERVICE",
                            "MULTIMODAL"
                        ],
                        "type": "string",
                        "x-enum-varnames": [
                            "ProcessModalityTypeAir",
                            "ProcessModalityTypeSea",
                            "ProcessModalityTypeGround",
                            "ProcessModalityTypeCourier",
                            "ProcessModalityTypeService",
                            "ProcessModalityTypeMultimodal"
                        ],
                        "description": "Modality type.",
                        "name": "modality_type",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Office code.",
                        "name": "office_code",
                        "in": "query"
                    },
                    {
                        "minimum": 0,
                        "type": "integer",
                        "default": 0,
                        "example": 0,
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "IMPORT",
                            "EXPORT",
                            "OTHER",
                            "NATIONAL"
                        ],
                        "type": "string",
                        "x-enum-varnames": [
                            "ProcessOperationTypeImport",
                            "ProcessOperationTypeExport",
                            "ProcessOperationTypeOther",
                            "ProcessOperationTypeNational"
                        ],
                        "description": "Operation type.",
                        "name": "operation_type",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "PP",
                            "CC"
                        ],
                        "type": "string",
                        "x-enum-varnames": [
                            "PrePaidCollectTypePrePaid",
                            "PrePaidCollectTypeCollect"
                        ],
                        "description": "PrePaid/Collect",
                        "name": "ppcc_type",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "OPENED",
                            "CANCELLED",
                            "DELETED",
                            "FINISHED"
                        ],
                        "type": "string",
                        "x-enum-varnames": [
                            "ProcessStatusOpened",
                            "ProcessStatusCancelled",
                            "ProcessStatusDeleted",
                            "ProcessStatusFinished"
                        ],
                        "description": "Process status.",
                        "name": "process_status",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Process"
                            }
                        }
                    }
                }
            }
        },
        "/processes/other_services": {
            "post": {
                "security": [
                    {
                        "OAuth2Application": [
                            "process:write"
                        ]
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Processes"
                ],
                "summary": "[Async] Request process creation [other Services]",
                "parameters": [
                    {
                        "description": "Process creation input",
                        "name": "request_body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ProcessOtherServicesInput"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AsyncRequest"
                        }
                    }
                }
            }
        },
        "/processes/other_services/{process_code}": {
            "put": {
                "security": [
                    {
                        "OAuth2Application": [
                            "process:write"
                        ]
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Processes"
                ],
                "summary": "[Async] Request process update [other Services]",
                "parameters": [
                    {
                        "type": "string",
                        "example": "ORGCODE-IS99010001",
                        "description": "Process code",
                        "name": "process_code",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Process update input",
                        "name": "request_body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ProcessOtherServicesInput"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AsyncRequest"
                        }
                    }
                }
            }
        },
        "/processes/{process_code}": {
            "get": {
                "security": [
                    {
                        "OAuth2Application": [
                            "process:read"
                        ]
                    }
                ],
                "description": "Get a process by process code",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Processes"
                ],
                "summary": "Retrieve a process",
                "parameters": [
                    {
                        "type": "string",
                        "example": "ORGCODE-IS99010001",
                        "description": "Process code.",
                        "name": "process_code",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Process"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "AsyncRequest": {
            "description": "Async request information",
            "type": "object",
            "properties": {
                "error": {
                    "description": "request error, if any"
                },
                "idRequest": {
                    "description": "request unique identifier",
                    "type": "string",
                    "example": "123e4567-e89b-12d3-a456-426614174000"
                },
                "idRequester": {
                    "description": "requester id",
                    "type": "string",
                    "example": "123e4567-e89b-12d3-a456-426614174000"
                },
                "result": {
                    "description": "result of the request"
                },
                "status": {
                    "description": "request status",
                    "type": "string",
                    "example": "SUCCESS"
                },
                "task": {
                    "description": "task name",
                    "type": "string",
                    "example": "PROCESS_CREATE"
                }
            }
        },
        "CalculationTypeEnum": {
            "type": "string",
            "enum": [
                "PER_CNTR",
                "PER_DOCUMENT",
                "FIXED_PRICE",
                "PER_KG_CM3",
                "PER_KG_CM3_5000",
                "PER_KG_CM3_3000",
                "WEIGHT_CUBED",
                "PCT_FREIGHT",
                "PCT_GOODS_VALUE",
                "PCT_COSHIPMENT_VLTOTAL",
                "PCT_TOTAL",
                "PER_QUANTITY",
                "PER_TEU",
                "PER_TONS_M3",
                "PER_KG",
                "PER_TON",
                "PCT_CUSTOMIZED",
                "PER_EQUIPMENT",
                "PCT_GOODS_AND_CHARGES",
                "SECURITY",
                "PER_TRUCK",
                "PER_COSHIPMENT",
                "SELECTED_SHIPMENTS",
                "DAILY_STORAGE",
                "PER_COSHIPMENT_CONFORME",
                "PER_COSHIPMENT_NON_CONFORME",
                "PER_INVOICE",
                "PER_COURIER_TARIFF",
                "PCT_COSHIPMENT_TAXES_AND_FINES",
                "PCT_NF_VALUE",
                "TAXES"
            ],
            "x-enum-varnames": [
                "CalculationTypePerCntr",
                "CalculationTypePerDocument",
                "CalculationTypeFixedPrice",
                "CalculationTypePerKgCm3f6000",
                "CalculationTypePerKgCm3f5000",
                "CalculationTypePerKgCm3f3000",
                "CalculationTypeWeightCubed",
                "CalculationTypePctFreight",
                "CalculationTypePctGoodsValue",
                "CalculationTypePctCoShipmentVlTotal",
                "CalculationTypePctTotal",
                "CalculationTypePerQuantity",
                "CalculationTypePerTeu",
                "CalculationTypePerTonsM3",
                "CalculationTypePerKg",
                "CalculationTypePerTon",
                "CalculationTypePctCustomized",
                "CalculationTypePerEquipment",
                "CalculationTypePctGoodsAndCharges",
                "CalculationTypeSecurity",
                "CalculationTypePerTruck",
                "CalculationTypePerCoShipment",
                "CalculationTypeSelectedShipments",
                "CalculationTypeDailyStorage",
                "CalculationTypePerCoShipmentConforme",
                "CalculationTypePerCoShipmentNonConforme",
                "CalculationTypePerInvoice",
                "CalculationTypePerCourierTariff",
                "CalculationTypePerCoShipmentTaxesFines",
                "CalculationTypePctNfValue",
                "CalculationTypeTaxes"
            ]
        },
        "ConsolidationTypeEnum": {
            "type": "string",
            "enum": [
                "NONE",
                "ONE",
                "HOUSE",
                "MANY",
                "PARTLOT"
            ],
            "x-enum-varnames": [
                "ConsolidationTypeNone",
                "ConsolidationTypeOne",
                "ConsolidationTypeHouse",
                "ConsolidationTypeMany",
                "ConsolidationTypePartlot"
            ]
        },
        "Contact": {
            "type": "object",
            "properties": {
                "contact_id": {
                    "type": "string"
                },
                "contact_name": {
                    "type": "string"
                },
                "office_code": {
                    "type": "string"
                }
            }
        },
        "ImportLicenseTypeEnum": {
            "type": "string",
            "enum": [
                "DEFERRED",
                "NOTREQUIRED",
                "REFUSED",
                "AWAITING_CONFIRMATION"
            ],
            "x-enum-varnames": [
                "ImportLicenseTypeDeferred",
                "ImportLicenseTypeNotRequired",
                "ImportLicenseTypeRefused",
                "ImportLicenseTypeAwaitingConfirmation"
            ]
        },
        "Mapping": {
            "type": "object",
            "properties": {
                "entity": {
                    "type": "string",
                    "example": "Office"
                },
                "field": {
                    "type": "string",
                    "example": "office_code"
                },
                "partner_value": {
                    "type": "string",
                    "example": "123456"
                },
                "smart_value": {
                    "type": "string",
                    "example": "abcdef"
                }
            }
        },
        "Office": {
            "type": "object",
            "properties": {
                "office_code": {
                    "type": "string"
                },
                "office_name": {
                    "type": "string"
                },
                "tax_id": {
                    "type": "string"
                }
            }
        },
        "PrePaidCollectTypeEnum": {
            "type": "string",
            "enum": [
                "PP",
                "CC"
            ],
            "x-enum-varnames": [
                "PrePaidCollectTypePrePaid",
                "PrePaidCollectTypeCollect"
            ]
        },
        "Process": {
            "type": "object",
            "properties": {
                "agent_id": {
                    "description": "Agent - Office Code",
                    "type": "string"
                },
                "agent_remittance_contact_id": {
                    "type": "string"
                },
                "agent_remittance_id": {
                    "type": "string"
                },
                "airline_id": {
                    "description": "Airline - Office Code",
                    "type": "string"
                },
                "ata_date": {
                    "description": "Actual Time of Arrival",
                    "type": "string"
                },
                "atd_date": {
                    "description": "Actual Time of Departure",
                    "type": "string"
                },
                "awb_currency_code": {
                    "type": "string"
                },
                "booking_code": {
                    "type": "string"
                },
                "buyer_id": {
                    "description": "Buyer - Office Code",
                    "type": "string"
                },
                "carrier_destination_id": {
                    "description": "Carrier Destination - Office Code",
                    "type": "string"
                },
                "carrier_document_code": {
                    "type": "string"
                },
                "carrier_origin_id": {
                    "description": "Carrier Origin - Office Code",
                    "type": "string"
                },
                "ce_merchant_code": {
                    "type": "string"
                },
                "collect_date": {
                    "type": "string"
                },
                "coloader_id": {
                    "description": "Coloader - Office Code",
                    "type": "string"
                },
                "consignee_contact_id": {
                    "type": "string"
                },
                "consignee_id": {
                    "description": "Consignee - Office Code",
                    "type": "string"
                },
                "consolidation_type": {
                    "$ref": "#/definitions/ConsolidationTypeEnum"
                },
                "cubic": {
                    "description": "m3",
                    "type": "number"
                },
                "currency_goods_code": {
                    "type": "string"
                },
                "custom_broker_contact_id": {
                    "type": "string"
                },
                "custom_broker_id": {
                    "description": "Custom Broker - Office Code",
                    "type": "string"
                },
                "customer_contact_id": {
                    "type": "string"
                },
                "customer_id": {
                    "description": "Customer - Office Code",
                    "type": "string"
                },
                "customer_reference_code": {
                    "type": "string"
                },
                "delivery_date": {
                    "type": "string"
                },
                "destination": {
                    "description": "Destination - PORT/AIRPORT/Location Name/Country",
                    "allOf": [
                        {
                            "$ref": "#/definitions/model.TransportObject"
                        }
                    ]
                },
                "dre_code": {
                    "type": "string"
                },
                "driver_id": {
                    "type": "string"
                },
                "eta_date": {
                    "description": "Estimated Time of Arrival",
                    "type": "string"
                },
                "etd_date": {
                    "description": "Estimated Time of Departure",
                    "type": "string"
                },
                "etx_date": {
                    "type": "string"
                },
                "free_time_demurrage_carrier": {
                    "type": "integer",
                    "minimum": 0
                },
                "free_time_demurrage_customer": {
                    "type": "integer",
                    "minimum": 0
                },
                "free_time_detention_carrier": {
                    "type": "integer"
                },
                "free_time_detention_customer": {
                    "type": "integer",
                    "minimum": 0
                },
                "freight_type_code": {
                    "type": "string"
                },
                "goods": {
                    "type": "number"
                },
                "import_license_type": {
                    "$ref": "#/definitions/ImportLicenseTypeEnum"
                },
                "incoterm_code": {
                    "type": "string"
                },
                "inside_sales_id": {
                    "type": "string"
                },
                "internal_reference_code": {
                    "type": "string"
                },
                "is_agent_contract": {
                    "type": "boolean"
                },
                "is_courier": {
                    "type": "boolean"
                },
                "is_direct_voyage_fly": {
                    "type": "boolean"
                },
                "is_routing_order": {
                    "type": "boolean"
                },
                "min_buy": {
                    "type": "number"
                },
                "min_sell": {
                    "type": "number"
                },
                "modality_type": {
                    "$ref": "#/definitions/ProcessModalityTypeEnum"
                },
                "notify_id": {
                    "description": "Notify - Office Code",
                    "type": "string"
                },
                "office_code": {
                    "type": "string"
                },
                "office_commercial_id": {
                    "type": "string"
                },
                "office_redestination_id": {
                    "description": "Office Redestination -Office Code",
                    "type": "string"
                },
                "operation_type": {
                    "$ref": "#/definitions/ProcessOperationTypeEnum"
                },
                "origin": {
                    "description": "Origin - PORT/AIRPORT/Location Name/Country",
                    "allOf": [
                        {
                            "$ref": "#/definitions/model.TransportObject"
                        }
                    ]
                },
                "parent_code": {
                    "description": "Parent process code",
                    "type": "string"
                },
                "ppcc_type": {
                    "$ref": "#/definitions/PrePaidCollectTypeEnum"
                },
                "process_code": {
                    "type": "string"
                },
                "process_date": {
                    "type": "string"
                },
                "process_status": {
                    "$ref": "#/definitions/ProcessStatusEnum"
                },
                "road_carrier_id": {
                    "description": "Road Carrier -Office Code",
                    "type": "string"
                },
                "ruc_code": {
                    "type": "string"
                },
                "salesman2_id": {
                    "type": "string"
                },
                "salesman_id": {
                    "type": "string"
                },
                "service_type_id": {
                    "type": "string"
                },
                "shipper_contact_id": {
                    "type": "string"
                },
                "shipper_id": {
                    "description": "Shipper - Office Code",
                    "type": "string"
                },
                "sub_agent_id": {
                    "description": "Sub Agent - Office Code",
                    "type": "string"
                },
                "sub_status_id": {
                    "type": "string"
                },
                "transit_time": {
                    "type": "integer"
                },
                "user_operation2_id": {
                    "type": "string"
                },
                "user_operation_id": {
                    "type": "string"
                },
                "vehicle_id": {
                    "type": "string"
                },
                "vehicle_trailer_id": {
                    "type": "string"
                },
                "vessel_imo_code": {
                    "description": "Vessel IMO Code",
                    "type": "string"
                },
                "via_object": {
                    "description": "Via - PORT/AIRPORT/Location Name/Country",
                    "allOf": [
                        {
                            "$ref": "#/definitions/model.TransportObject"
                        }
                    ]
                },
                "voyage_fly_code": {
                    "type": "string"
                },
                "weight": {
                    "type": "number"
                }
            }
        },
        "ProcessCharge": {
            "type": "object",
            "properties": {
                "accountable_flag": {
                    "type": "boolean"
                },
                "agent_carrier_type": {
                    "type": "string"
                },
                "base_value": {
                    "type": "number"
                },
                "buy_or_sell_type": {
                    "type": "string"
                },
                "calculation_detail_type": {
                    "$ref": "#/definitions/CalculationTypeEnum"
                },
                "calculation_type": {
                    "$ref": "#/definitions/CalculationTypeEnum"
                },
                "charge_id": {
                    "type": "string"
                },
                "charge_local_type": {
                    "type": "string"
                },
                "charge_type": {
                    "type": "string"
                },
                "charge_value": {
                    "type": "number"
                },
                "commission_flag": {
                    "type": "boolean"
                },
                "currency_code": {
                    "type": "string"
                },
                "currency_exchange_code": {
                    "type": "string"
                },
                "estimated_payment_date": {
                    "type": "string"
                },
                "exchange_value": {
                    "type": "number"
                },
                "invoice_id": {
                    "type": "string"
                },
                "max_value": {
                    "type": "number"
                },
                "min_value": {
                    "type": "number"
                },
                "non_profit_flag": {
                    "type": "boolean"
                },
                "ppcc_type": {
                    "type": "string"
                },
                "print_charge_flag": {
                    "type": "boolean"
                },
                "printable_name": {
                    "type": "string"
                },
                "priorize_base_value_flag": {
                    "type": "boolean"
                },
                "process_charge_id": {
                    "type": "string"
                },
                "process_code": {
                    "type": "string"
                },
                "profit_share_flag": {
                    "type": "boolean"
                },
                "quantity_number": {
                    "type": "number"
                },
                "supplier_code": {
                    "type": "string"
                },
                "total_exchange_company_value": {
                    "type": "number"
                },
                "total_exchange_office_value": {
                    "type": "number"
                },
                "total_exchange_organization_value": {
                    "type": "number"
                },
                "total_exchange_value": {
                    "type": "number"
                },
                "total_value": {
                    "type": "number"
                },
                "volume_id": {
                    "type": "string"
                }
            }
        },
        "ProcessChargeRequestPostInput": {
            "type": "object",
            "required": [
                "buy_or_sell_type",
                "calculation_type",
                "charge_id",
                "charge_type",
                "charge_value",
                "currency_code",
                "exchange_value",
                "ppcc_type",
                "process_code",
                "quantity_number",
                "supplier_id"
            ],
            "properties": {
                "agent_carrier_type": {
                    "type": "string"
                },
                "buy_or_sell_type": {
                    "type": "string"
                },
                "calculation_type": {
                    "$ref": "#/definitions/CalculationTypeEnum"
                },
                "charge_id": {
                    "type": "string"
                },
                "charge_local_type": {
                    "type": "string"
                },
                "charge_type": {
                    "type": "string"
                },
                "charge_value": {
                    "type": "number"
                },
                "currency_code": {
                    "type": "string"
                },
                "exchange_value": {
                    "type": "number"
                },
                "invoice_id": {
                    "type": "string"
                },
                "max_value": {
                    "type": "number",
                    "default": 0
                },
                "min_value": {
                    "type": "number",
                    "default": 0
                },
                "ppcc_type": {
                    "$ref": "#/definitions/PrePaidCollectTypeEnum"
                },
                "process_code": {
                    "type": "string"
                },
                "quantity_number": {
                    "type": "number"
                },
                "supplier_id": {
                    "type": "string"
                },
                "volume_id": {
                    "type": "string"
                }
            }
        },
        "ProcessChargeRequestPutInput": {
            "type": "object",
            "required": [
                "buy_or_sell_type",
                "calculation_type",
                "charge_id",
                "charge_type",
                "charge_value",
                "currency_code",
                "exchange_value",
                "ppcc_type",
                "process_charge_id",
                "quantity_number",
                "supplier_id"
            ],
            "properties": {
                "agent_carrier_type": {
                    "type": "string"
                },
                "buy_or_sell_type": {
                    "type": "string"
                },
                "calculation_type": {
                    "$ref": "#/definitions/CalculationTypeEnum"
                },
                "charge_id": {
                    "type": "string"
                },
                "charge_local_type": {
                    "type": "string"
                },
                "charge_type": {
                    "type": "string"
                },
                "charge_value": {
                    "type": "number"
                },
                "currency_code": {
                    "type": "string"
                },
                "exchange_value": {
                    "type": "number"
                },
                "invoice_id": {
                    "type": "string"
                },
                "max_value": {
                    "type": "number",
                    "default": 0
                },
                "min_value": {
                    "type": "number",
                    "default": 0
                },
                "ppcc_type": {
                    "$ref": "#/definitions/PrePaidCollectTypeEnum"
                },
                "process_charge_id": {
                    "type": "string"
                },
                "quantity_number": {
                    "type": "number"
                },
                "supplier_id": {
                    "type": "string"
                },
                "volume_id": {
                    "type": "string"
                }
            }
        },
        "ProcessModalityTypeEnum": {
            "type": "string",
            "enum": [
                "AIR",
                "SEA",
                "GROUND",
                "COURIER",
                "SERVICE",
                "MULTIMODAL"
            ],
            "x-enum-varnames": [
                "ProcessModalityTypeAir",
                "ProcessModalityTypeSea",
                "ProcessModalityTypeGround",
                "ProcessModalityTypeCourier",
                "ProcessModalityTypeService",
                "ProcessModalityTypeMultimodal"
            ]
        },
        "ProcessOperationTypeEnum": {
            "type": "string",
            "enum": [
                "IMPORT",
                "EXPORT",
                "OTHER",
                "NATIONAL"
            ],
            "x-enum-varnames": [
                "ProcessOperationTypeImport",
                "ProcessOperationTypeExport",
                "ProcessOperationTypeOther",
                "ProcessOperationTypeNational"
            ]
        },
        "ProcessOtherServicesInput": {
            "type": "object",
            "required": [
                "destination_name",
                "incoterm_code",
                "office_code",
                "origin_name",
                "ppcc_type",
                "service_type_id",
                "user_operation_id"
            ],
            "properties": {
                "agent_id": {
                    "description": "Agent - Office Code",
                    "type": "string"
                },
                "agent_remittance_contact_id": {
                    "type": "string"
                },
                "agent_remittance_id": {
                    "type": "string"
                },
                "airline_id": {
                    "description": "[sub_modality_type AIR] Airline - Office Code",
                    "type": "string"
                },
                "ata_date": {
                    "description": "Actual Time of Arrival",
                    "type": "string",
                    "default": "2099-01-01T00:00:00-0300"
                },
                "atd_date": {
                    "description": "Actual Time of Departure",
                    "type": "string",
                    "default": "2099-01-01T00:00:00-0300"
                },
                "carrier_destination_id": {
                    "description": "[sub_modality_type SEA] Carrier Destination - Office Code",
                    "type": "string"
                },
                "carrier_document_code": {
                    "type": "string"
                },
                "carrier_origin_id": {
                    "description": "[sub_modality_type SEA] Carrier Origin - Office Code",
                    "type": "string"
                },
                "customer_contact_id": {
                    "description": "Customer - Contact Code",
                    "type": "string"
                },
                "customer_id": {
                    "description": "Customer - Office Code",
                    "type": "string"
                },
                "customer_reference_code": {
                    "type": "string"
                },
                "destination_name": {
                    "description": "Destination",
                    "type": "string"
                },
                "eta_date": {
                    "description": "Estimated Time of Arrival",
                    "type": "string",
                    "default": "2099-01-01T00:00:00-0300"
                },
                "etd_date": {
                    "description": "Estimated Time of Departure",
                    "type": "string",
                    "default": "2099-01-01T00:00:00-0300"
                },
                "goods": {
                    "type": "number",
                    "minimum": 0
                },
                "incoterm_code": {
                    "type": "string"
                },
                "internal_reference_code": {
                    "type": "string"
                },
                "is_agent_contract": {
                    "type": "boolean"
                },
                "nf_value": {
                    "type": "number",
                    "minimum": 0
                },
                "office_code": {
                    "type": "string"
                },
                "office_commercial_id": {
                    "type": "string"
                },
                "origin_name": {
                    "description": "Origin",
                    "type": "string"
                },
                "ppcc_type": {
                    "$ref": "#/definitions/PrePaidCollectTypeEnum"
                },
                "road_carrier_id": {
                    "description": "Road Carrier -Office Code",
                    "type": "string"
                },
                "salesman_id": {
                    "type": "string"
                },
                "service_type_id": {
                    "type": "string"
                },
                "sub_modality_type": {
                    "type": "string"
                },
                "sub_status_id": {
                    "type": "string"
                },
                "transit_time": {
                    "type": "integer",
                    "minimum": 0
                },
                "user_operation_id": {
                    "type": "string"
                }
            }
        },
        "ProcessStatusEnum": {
            "type": "string",
            "enum": [
                "OPENED",
                "CANCELLED",
                "DELETED",
                "FINISHED"
            ],
            "x-enum-varnames": [
                "ProcessStatusOpened",
                "ProcessStatusCancelled",
                "ProcessStatusDeleted",
                "ProcessStatusFinished"
            ]
        },
        "ProcessVolume": {
            "type": "object",
            "properties": {
                "bl_volume_description": {
                    "type": "string"
                },
                "container_code": {
                    "type": "string"
                },
                "container_delivery_date": {
                    "type": "string"
                },
                "container_devolution_original_date": {
                    "type": "string"
                },
                "container_removal_date": {
                    "type": "string"
                },
                "courier_modality_type": {
                    "type": "string"
                },
                "cubic": {
                    "type": "number"
                },
                "depth": {
                    "type": "number"
                },
                "free_time_demurrage_carrier": {
                    "type": "integer"
                },
                "free_time_demurrage_customer": {
                    "type": "integer"
                },
                "free_time_detention_carrier": {
                    "type": "integer"
                },
                "free_time_detention_customer": {
                    "type": "integer"
                },
                "goods_description": {
                    "type": "string"
                },
                "gross_weight": {
                    "type": "number"
                },
                "height": {
                    "type": "number"
                },
                "metric_unit_type": {
                    "type": "string"
                },
                "notes": {
                    "type": "string"
                },
                "parent_id": {
                    "type": "string"
                },
                "process_code": {
                    "type": "string"
                },
                "process_volume_id": {
                    "type": "string"
                },
                "ratio": {
                    "type": "number"
                },
                "sales_volume_id": {
                    "type": "string"
                },
                "sales_volume_parent_id": {
                    "type": "string"
                },
                "seal_code": {
                    "type": "string"
                },
                "tare_weight": {
                    "type": "number"
                },
                "volume_id": {
                    "type": "string"
                },
                "volume_quantity": {
                    "type": "number"
                },
                "weight": {
                    "type": "number"
                },
                "weight_type": {
                    "type": "string"
                },
                "weight_unit_type": {
                    "type": "string"
                },
                "width": {
                    "type": "number"
                }
            }
        },
        "ProcessVolumeRequestPostInput": {
            "type": "object",
            "required": [
                "cubic",
                "depth",
                "gross_weight",
                "height",
                "metric_unit_type",
                "process_code",
                "tare_weight",
                "volume_id",
                "volume_quantity",
                "weight",
                "weight_type",
                "weight_unit_type",
                "width"
            ],
            "properties": {
                "bl_volume_description": {
                    "type": "string"
                },
                "container_code": {
                    "type": "string"
                },
                "cubic": {
                    "type": "number"
                },
                "depth": {
                    "type": "number"
                },
                "goods_description": {
                    "type": "string"
                },
                "gross_weight": {
                    "type": "number"
                },
                "height": {
                    "type": "number"
                },
                "metric_unit_type": {
                    "type": "string"
                },
                "notes": {
                    "type": "string"
                },
                "parent_id": {
                    "type": "string"
                },
                "process_code": {
                    "type": "string"
                },
                "seal_code": {
                    "type": "string"
                },
                "tare_weight": {
                    "type": "number"
                },
                "volume_id": {
                    "type": "string"
                },
                "volume_quantity": {
                    "type": "number"
                },
                "weight": {
                    "type": "number"
                },
                "weight_type": {
                    "type": "string"
                },
                "weight_unit_type": {
                    "type": "string"
                },
                "width": {
                    "type": "number"
                }
            }
        },
        "ProcessVolumeRequestPutInput": {
            "type": "object",
            "required": [
                "cubic",
                "depth",
                "gross_weight",
                "height",
                "metric_unit_type",
                "process_volume_id",
                "tare_weight",
                "volume_id",
                "volume_quantity",
                "weight",
                "weight_type",
                "weight_unit_type",
                "width"
            ],
            "properties": {
                "bl_volume_description": {
                    "type": "string"
                },
                "container_code": {
                    "type": "string"
                },
                "cubic": {
                    "type": "number"
                },
                "depth": {
                    "type": "number"
                },
                "goods_description": {
                    "type": "string"
                },
                "gross_weight": {
                    "type": "number"
                },
                "height": {
                    "type": "number"
                },
                "metric_unit_type": {
                    "type": "string"
                },
                "notes": {
                    "type": "string"
                },
                "parent_id": {
                    "type": "string"
                },
                "process_volume_id": {
                    "type": "string"
                },
                "seal_code": {
                    "type": "string"
                },
                "tare_weight": {
                    "type": "number"
                },
                "volume_id": {
                    "type": "string"
                },
                "volume_quantity": {
                    "type": "number"
                },
                "weight": {
                    "type": "number"
                },
                "weight_type": {
                    "type": "string"
                },
                "weight_unit_type": {
                    "type": "string"
                },
                "width": {
                    "type": "number"
                }
            }
        },
        "model.TransportObject": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "string"
                },
                "country": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            }
        }
    },
    "securityDefinitions": {
        "OAuth2Application": {
            "type": "oauth2",
            "flow": "application",
            "tokenUrl": "https://auth.smartcomex.io/oauth2/token"
        }
    }
}